#include <dt-bindings/zmk/matrix_transform.h>
#include "guitar-layouts.dtsi"

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios = <
            &gpio0 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
            &gpio0 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
        >;
    };



    chosen {
        zmk,physical-layout = &physical_layout0;

    };
};

&xiao_serial {
    status = "disabled";
};
