#include <dt-bindings/zmk/matrix_transform.h>
#include "guitar-layouts.dtsi"

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios = <
            &gpio0 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)  

        >;
    };
};


/ {

    default_transform: matrix_transform0 {
            compatible = "zmk,matrix-transform";
            columns = <1>;
            rows = <1>;
            map = <
            RC(0,0) 

        >;
    };
};


/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
    };
};
